<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/862/449/162/jack-reacher-star-wars-interstellar-movie-john-wick-wallpaper-preview.jpg);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="cards m-4">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-trip d-flex flex-column justify-content-between">
      <div>
        <img src=<%= bookmark.movie.poster_url %>>
        <div class="d-flex flex-row mb-3">
          <h2 class="mt-3 mx-3"><%= bookmark.movie.title %></h2>
          <span class="card-trip-pricing mt-3 me-3"><i class="fa-solid fa-star"></i><%= bookmark.movie.rating %></span>
        </div>
        <p class="mx-3"><%= bookmark.movie.overview %></p>
      </div>
      <div class="card-trip-infos">
        <p><strong><%= bookmark.comment %></strong><i class="fa-duotone fa-comment-lines"></i></p>
        <p><%= link_to "Delete", bookmark_path(bookmark), turbo_method: :delete, class:'link-text' %></p>
      </div>
    </div>
  <% end %>
</div>

<div>
  <h2>Add a Movie</h2>
      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
</div>
